<h1>Welcome</h1>

</p>
<% if user_signed_in? %>
  <%= current_user.username  %>
  <%= link_to 'Deconnexion', destroy_user_session_path, :method => :delete  %>
<% else %>
  <%= link_to 'Connexion', new_user_session_path %>
<% end %>
</p>
